---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Description from "../components/description.astro";
import Container from "../components/Container.astro";
import Form from "../components/Form.astro";
---

<Layout title="My Tools | colores">
    <Header link="/" />
    <Description
        title="Colors"
        textHead="Aquí econtraras todos lo colores que más utilizó"
    />
    <main>
        <Container title="Ingresa el color en hexadecimal" addClass="hidden" />
        <Form
            name="Crear color"
            link="/scripts/colors.js"
            input2="hidden"
            input3="hidden"
        />
    </main>
</Layout>