---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Description from "../components/description.astro";
import Container from "../components/Container.astro";
import Card from "../components/Card.astro";
---

<Layout title="My Tools">
	<Header />
	<main>
		<Description
			title="Bienvenido a My Tools"
			textHead=" Soy un apasionado del diseño web y me encanta compartir los recursos que suelo utilizar en mis proyectos. En esta web podrás encontrar una selección de los mejores recursos que he encontrado a lo largo de los años. Como paletas de colores, fuentes, iconos, plantillas, plugins y herramientas."
		/>
		<Container title="Colores" description="Aquí econtraras todos lo colores que más utilizó" link="colors" name="Ver mas">
			<div slot="content" class="grid grid-cols-2 lg:grid-cols-4 w-full gap-5 p-5">
				<Card text="rgb(255, 0, 0) | #00ffff" addClass="bg-cyan-400" addStyle="nunito"/>
                <Card text="rgb(102, 51, 238 /0.2) | #6633ee" addClass="bg-[#6633ee]/20" addStyle="nunito"/>
                <Card text="rgb(102, 51, 238) | #6633ee" addClass="bg-[#6633ee]" addStyle="nunito"/>
                <Card text="rgb(167,138,245) | #a78af5" addClass="bg-[#a78af5]" addStyle="nunito"/>
                <Card text="rgb(255, 0, 0) | #ff0000" addClass="bg-red-400" addStyle="nunito"/>
			</div>
		</Container>
		<Container title="Gradientes" description="Aquí encontraras todos los gradientes que más utilizó" link="gradients" name="Ver mas">
			<div slot="content" class="grid grid-cols-2 lg:grid-cols-4 w-full gap-5 p-5">
				<Card text="#00ffff, 40deg, #ff0000" addStyle="40deg, #00ffff, #ff0000"/>
				<Card text="#00ffff, 40deg, #00ff00" addStyle="40deg, #00ffff, #00ff00"/>
				<Card text="#6633e, 40deg, #a78af5" addStyle="40deg, #6633ee, #a78af5"/>
			</div>
		</Container>
		<Container title="Fuentes" description="Aquí encotraras todas las fuentes que más utilizó" link="" name="Ver mas">
			<div slot="content" class="grid grid-cols-2 lg:grid-cols-4 w-full gap-5 p-5">
				<Card text="MuseoModerno" addText="A, a, B, b, C, c, 0, 1, 2, 3, 4, 5" addFont="MuseoModerno" addStyle="MuseoModerno"/>
				<Card text="Megrim" addText="A, a, B, b, C, c, 0, 1, 2, 3, 4, 5" addStyle="Megrim"/>
				<Card text="Edu AU VIC WA NT Hand" addText="A, a, B, b, C, c, 0, 1, 2, 3, 4, 5" addStyle="Edu AU VIC WA NT Hand"/>
				<Card text="Nunito" addText="A, a, B, b, C, c, 0, 1, 2, 3, 4, 5" addStyle="nunito"/>
			</div>
		</Container>
		<Container title="Herramientas" description="Aquí encotraras todas las herramientas que más utilizó" link="" name="Ver mas">
			<div slot="content" class="grid grid-cols-2 lg:grid-cols-4 gap-5 p-5">
				<Card img="googleFonts.webp" alt="googleFonts" addClass="h-auto rounded" link="https://fonts.google.com/"></Cards>
				<Card img="bg.ibelick.webp" alt="bg.ibelick" addClass="h-auto rounded" link="https://bg.ibelick.com/"></Cards>
				<Card img="convertio.webp" alt="bg.ibelick" addClass="h-auto rounded" link="https://bg.ibelick.com/"></Cards>
				<Card img="tailwind.webp" alt="tailwind"  addClass="h-auto rounded" link="https://tailwindcss.com/"></Cards>
			</div>
		</Container>
	</main>
</Layout>
