---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Description from "../components/description.astro";
import Container from "../components/Container.astro";
---

<Layout title="My Tools">
	<Header />
	<main>
		<Description
			title="Bienvenido a My Tools"
			textHead=" Soy un apasionado del diseño web y me encanta compartir los recursos que suelo utilizar en mis proyectos. En esta web podrás encontrar una selección de los mejores recursos que he encontrado a lo largo de los años. Como paletas de colores, fuentes, iconos, plantillas, plugins y herramientas."
		/>
		<Container title="Colores" description="Aquí econtraras todos lo colores que más utilizó" link="" name="Ver mas"/>
	</main>
</Layout>
