---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Description from "../components/description.astro";
---

<Layout title="My Tools">
	<Header />
	<main>
		<Description
			title="Bienvenido a My Tools"
			textHead=" Soy un apasionado del dise침o web y me encanta compartir los recursos que suelo utilizar en mis proyectos. En esta web podr치s encontrar una selecci칩n de los mejores recursos que he encontrado a lo largo de los a침os. Como paletas de colores, fuentes, iconos, plantillas, plugins y herramientas."
		/>
	</main>
</Layout>
