---
const { link, name, input2, input3 } = Astro.props;
---

<form method="post" class="flex justify-center items-center gap-5">
    <input
        type="text"
        name="input1"
        id="input1"
        required
        maxlength="7"
        minlength="0"
        placeholder="ingresa el color"
        class="p-1 text-black dark:text-white bg-transparent outline-none border-b-2 border-black dark:border-white hover:border-white dark:hover:border-cyan-400 placeholder:text-black dark:placeholder:text-white focus:border-black dark:focus:border-cyan-400"
    />
    <input
        type="text"
        name="input2"
        id="input2"
        required
        maxlength="7"
        minlength="0"
        placeholder="ingresa el color"
        class={`${input2} p-1 text-black dark:text-white bg-transparent outline-none border-b-2 border-black dark:border-white hover:border-white dark:hover:border-cyan-400 placeholder:text-black dark:placeholder:text-white focus:border-black dark:focus:border-cyan-400`}
    />
    <input
        type="text"
        name="input3"
        id="input3"
        required
        maxlength="7"
        minlength="0"
        placeholder="ingresa el color"
        class={`${input3} p-1 text-black dark:text-white bg-transparent outline-none border-b-2 border-black dark:border-white hover:border-white dark:hover:border-cyan-400 placeholder:text-black dark:placeholder:text-white focus:border-black dark:focus:border-cyan-400`}
    />
    <input type="submit" value={name} id="createData" class="p-1 text-black dark:text-white border-b-2 hover:border-black dark:hover:border-cyan-400 hover:cursor-pointer">
</form>
<section id="container" class="grid grid-cols-2 lg:grid-cols-4 gap-5 p-5"></section>
